.container {
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url('../../IMAGES/FONDO_CREATEBLUR.png');
    display: grid;
    grid-template-columns: 650px 500px;
}

.blockOne h1,
.blockOne h2,
.blockOne h3 {
    color: white;
}


.blockTwo h1,
.blockTwo h2,
.blockTwo h3 {
    color: white;
    text-decoration: none;
}

.blockOne {
    width: auto;
    height: 90%;
    margin: 30px;
    text-align: justify;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 5px 10px #000;
    align-items: center;
    padding: 1%;
    outline: none;
    text-decoration: none;
}

.blockOne img {
    max-width: 500px;
    max-height: 500px;
}

.blockTwo {
    width: 550px;
    height: 90%;
    margin: 30px;
    text-align: justify;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 5px 10px #000;
    align-items: center;
    padding: 20px;
    line-height: 1.2;
    outline: none;
    text-decoration: none;
}

.backBtn {
    height: 50px;
    width: 120px;
    margin: 10px;
    margin-left: 30px;
    padding-top: 5px;
    padding-left: 9px;
    font-weight: 600;
    box-sizing: border-box;
    list-style: none;
    display: inline-block;
    position: relative;
    color: black;
    font-size: 16px;
    border-radius: 40px;
    border: 4px solid #ffd429;
    background-color: #ffd52d;
    transition: .1s;
}

.backBtn:hover {
    cursor: pointer;
    transform: scale(1.02);
    filter: brightness(1.02);
    border-color: #ffd52d;
    box-shadow: 0 0 5px #ffd429;
}